name: Release

on:
  release:
    types: [published]

jobs:
  release_zip_file:
    name: Prepare release asset
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      # Pack the solar_manager_forecast dir as a zip and upload to the release
      - name: ZIP solar_manager_forecast Dir
        run: |
          cd ${{ github.workspace }}/custom_components/solar_manager_forecast
          zip solar_manager_forecast.zip -r ./
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ github.workspace }}/custom_components/solar_manager_forecast/solar_manager_forecast.zip
          asset_name: solar_manager_forecast.zip
          tag: ${{ github.ref }}
          overwrite: true
